name: Static Analysis

on: ['push', 'pull_request']

jobs:
  static:
    name: Static Tests

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dependency-version: [prefer-lowest, prefer-stable]

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.4
        tools: composer:v2
        coverage: none

    - name: Install Dependencies
      run: composer update --prefer-stable --no-interaction --no-progress --ansi

    - name: PHPStan
      run: ./vendor/bin/phpstan analyse --memory-limit=1G

    - name: Rector
      run: ./vendor/bin/rector process --dry-run

    - name: Pint
      run: ./vendor/bin/pint --test
